CLIENT_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
JWT_EXPIRE=
JWT_EXPIRES_IN=
JWT_SECRET=
MAX_FILES=
MAX_FILE_SIZE=
MONGODB_URI=
RATE_LIMIT_MAX_REQUESTS=
RATE_LIMIT_WINDOW_MS=
REFRESH_TOKEN_EXPIRE=
REFRESH_TOKEN_SECRET=
VITE_API_URL=