@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }

  #invoice-print-area,
  #invoice-print-area * {
    visibility: visible;
  }

  #invoice-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }

  .no-print {
    display: none !important;
  }
}
